*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.body,html{
    padding: 20%;
    display: flex;
    justify-content: center;
}
.parrafo {
    width: 350px;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
/*
.parrafo::first-line {
    color: royalblue;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 900;
}
*/
.parrafo::first-letter{
    
}